@media (min-width: 200px){
    .about{
        
        &_container{
            margin: 0 auto;
            width: 80%;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;
            box-shadow: 1px 9px 13px -5px rgba(34, 60, 80, 0.6);
            justify-content: space-between;
        }
        &_card{
            text-align: center;
        }
        .line{
            margin: 25px 0;
            height: 1px;
            width: 100%;
            background: #ccc;
        }
    
    }

}

@media(min-width: 825px){
    .about{
        
        &_container{
            padding: 72px 91px;
            margin-top: 103px;
            // margin: 0 auto;
            width: 100%;
            border-radius: 10px;
            // padding: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            box-shadow: 1px 9px 13px -5px rgba(34, 60, 80, 0.6);
            
        }
        &_card{
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin-bottom: -60px;
            text-align: center;
            img{
                padding: 15px;
                border-radius: 50%;
                margin-right: 36.5px;
                background: #FFECEC ;
            }
        }
        .line{
            display: none;
        }
       
    }
   


}