
.header{
    &_navigation{
        padding: 46px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        ul{
            display: flex;
            align-items: center;
            gap: 40px;
            li{
                list-style-type: none;
                a{
                    display: inline-block;
                    text-decoration: none;
                    transition: .3s ease-in;
                }
                a:hover{
                    color: var(--btn-color);
                    transition: .3s ease-out;
                }
            }
        }
    }
    &_btns{
        
        .sign-in{
            margin-right: 15px;
            font-family: 'Rubik';
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #0B132A;
            transition: .3s ease-in;
        }
        .sign-in:hover{
            color: var(--btn-color);
            transition: .3s ease-out;
        }
        .sign-up{
            padding: 13px 45px;
            border-radius: 50px;
            font-family: 'Rubik';
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: var(--btn-color);
            border: 1px solid var(--btn-color);
            transition: .3s ease-in;
        }
        .sign-up:hover{
            transition: all .3s ease-in-out;
            background: var(--btn-color);
            color: #FFFFFF;
        }
    }
}


.home{
    text-align: center;
    padding: 0 5px;
    &_left{
        p{
            margin-top: 20px;
        }
    }
    &_right_btn{
        display: inline-block;
        margin: 50px auto;
        padding: 17px 77.5px;
        border-radius: 10px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        background: var(--btn-color);
        box-shadow: 0px 20px 16px -9px rgba(245, 56, 56, 0.6);
    }
    &_right_btn:hover{
        transition: all .3s ease-in;
        animation-name: move-horizontal;
        animation-duration: 2s;
    }
    @keyframes move-horizontal {
        0% {
            transition: all .3s ease-in;
          transform: translateY(0);
        }
        50% {
        transition: all .3s ease-in-out;
          transform: translateY(-10px);
        }
        100% {
          transition: .3s;
          transform: translateY(0);
        }
      }
}





  





@media (min-width: 200px){
    .home_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
    }
    .home_left{
        text-align: center;
    }

}





@media (min-width: 945px){
    .navbar,
    .navbar input[type="checkbox"],
    .navbar .hamburger-lines {
    display: none;
    }
    .header{
        display: block;
    }
    .home_container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
    }
    .home_left{
        width: 54%;
        text-align: left;
    }
    .home_hero-img{
        transform: translateX(60px);
    }
}

